{
    # Optional email key for lets encrypt
    email david@davidbuckley.ca
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

project-wrapper.davidbuckley.ca {
    log
    # Mkcert - https://github.com/FiloSottile/mkcert
    # For running docker-compose locally
    # tls /root/certs/project-wrapper.davidbuckley.ca.pem /root/certs/project-wrapper.davidbuckley.ca-key.pem 

    @api {
        path /api
        path /api/*
    }

    route @api {
        uri @api strip_prefix api
        reverse_proxy wrapper-api:9000
    }

    root * /var/www/project-wrapper
    file_server
}
