.project-wrapper {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2.25rem; }
  .project-wrapper .output-image {
    display: none; }
  .project-wrapper .output-image.display {
    display: flex; }
    .project-wrapper .output-image.display > div {
      display: flex;
      flex-direction: column;
      margin: 5px; }
      .project-wrapper .output-image.display > div svg {
        display: none; }
      .project-wrapper .output-image.display > div .loading {
        width: 100px;
        height: 100px;
        margin: auto;
        display: inline-block; }
      .project-wrapper .output-image.display > div img:not([src]) {
        display: none; }
